source ./.venv/bin/activate

export SCENARIO_RUNNER_ROOT=./scenario_runner
export LEADERBOARD_ROOT=./leaderboard
export CARLA_ROOT=./carla
export PYTHONPATH="${SCENARIO_RUNNER_ROOT}":"${LEADERBOARD_ROOT}":"${CARLA_ROOT}":"${PYTHONPATH}"
