carla==0.9.13
click
dictor
diskcache
ephem
networkx
numpy
opencv-python-headless
Pillow
psutil
py-trees==0.8.3
pygame
requests
scikit-image
Shapely
six
tabulate
tensorboard
ujson

timm

${REQUIREMENTS_MMCV_OPTS}
${REQUIREMENTS_TORCH_SCATTER_OPTS}
mmcv-full<=1.6.0
mmdet
torch-scatter
