-f https://download.openmmlab.com/mmcv/dist/cu113/torch1.12/index.html
-f https://data.pyg.org/whl/torch-1.12.0+cu113.html

carla==0.9.13
click
dictor
diskcache
ephem
mmcv-full<=1.6.0
mmdet
networkx
numpy
opencv-python-headless
Pillow
psutil
py-trees==0.8.3
pygame
requests
scikit-image
Shapely
six
tabulate
tensorboard
timm
torch-scatter
ujson
